<!doctype html>
<html lang="en">
<head>

	<!-- Metadata -->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<title>Go Tell That</title>

	<!-- Vendor Styles -->
	<link href='http://fonts.googleapis.com/css?family=Merriweather+Sans' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="styles/font-awesome.min.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="bower_components/angular-loading-bar/src/loading-bar-light.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="bower_components/angular-tour/dist/angular-tour.css" type="text/css" media="screen" />

	<!-- Main Styles -->
	<link rel="stylesheet" href="styles/main.css" type="text/css" media="screen" />

	<!-- Header Scripts -->
	<script src="bower_components/modernizr/modernizr.js" type="text/javascript"></script>

</head>
<body ng-app="app" tour step="currentStep" ng-controller="MainCtrl">

	<!-- Details -->
	<div id="details"></div>

	<!-- Drawer -->
	<div class="snap-drawers">
	<div class="snap-drawer snap-drawer-left">
		<div class="drawer-wrapper">
		  <header></header>
		</div>
	</div>
	</div>

	<!-- Main Wrapper -->
	<div id="main-wrapper" class="snap-content" infinite-scroll="nextPage()">

		<!-- Header -->
		<header class="toolbar">
			<input type="text" placeholder="Search..." tourtip="Use the search bar to find movies that aren't in predefined categories" tourtip-placement="bottom" ng-change="search()" ng-model="searchWord" />
		</header>

		<!-- Tour Section -->
		<section class="tour">
			<button class="arrow_box" ng-click="openTour()">Take the tour</button>
		</section>

		<!-- Content -->
		<div id="content" ng-view></div>

	</div>

	<!-- Vendor Scripts -->
	<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
	<script src="bower_components/angular/angular.js" type="text/javascript"></script>
	<script src="bower_components/angular-route/angular-route.js" type="text/javascript"></script>
	<script src="bower_components/angular-animate/angular-animate.js" type="text/javascript"></script>
	<script src="bower_components/angular-loading-bar/src/loading-bar.js" type="text/javascript"></script>
	<script src="bower_components/angular-tour/dist/angular-tour-tpls.min.js" type="text/javascript"></script>
	<script type='text/javascript' src='bower_components/ngInfiniteScroll/build/ng-infinite-scroll.js'></script>

	<!-- Main Scripts -->
	<script src="scripts/app.js" type="text/javascript"></script>
	<script src="scripts/controllers.js" type="text/javascript"></script>
	<script src="scripts/directives.js" type="text/javascript"></script>
	<script src="scripts/filters.js" type="text/javascript"></script>

	<!-- Google Analytics -->
	<script type="text/javascript">
		'use strict';
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-35368577-1']);
		_gaq.push(['_trackPageview']);

		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>

</body>
</html>