<h3 tourtip="This is the navigation heading it tells you what genre of movies you are looking at.">
{{$parent.heading}}
</h3>

<div class="content-grid">

	<!-- Tour Version -->
	<div class="movie" ng-repeat="movie in movies" ng-if="$index < 1 && !movie.cache">
		<div class="title">
			<a ng-class="movie | colorRating" tourtip="Click the title of any movie and we will fetch the highest quality torrent we can find. Movie titles are colored green, yellow, or red for quickly identifying their ratings based on critic and user review." ng-click="$parent.downloadTorrent(movie)" class="link">
				{{movie.title}}
			</a>
			<a ng-href="http://www.gotellthat.com/details/{{movie.id}}" class="details" target="_blank" tourtip="Selecting the info icon will bring up a window with a barage of info about the movie."></a>
		</div>
		<div class="poster">
			<a ng-href="">
				<img tourtip="Clicking on a movies poster lets you watch the trailer for that movie." ng-src="{{movie | detailedUrl}}" ng-click="$parent.viewTrailer(movie.id)"></img>
			</a>
		</div>
	</div>

	<!-- Default Version -->
	<div class="movie" ng-repeat="movie in $parent.movies" ng-if="$index > 0 && !movie.cache">
		<div class="title">
			<a ng-class="movie | colorRating" ng-click="$parent.downloadTorrent(movie)" class="link">
				{{movie.title}}
			</a>
			<a ng-href="http://www.gotellthat.com/details/{{movie.id}}" class="details" target="_blank"></a>
		</div>
		<div class="poster">
			<a ng-href="">
				<img ng-src="{{movie | detailedUrl}}" ng-click="$parent.viewTrailer(movie.id)"></img>
			</a>
		</div>
	</div>

	<!-- Tour Cached Version -->
	<div class="movie" ng-repeat="movie in movies" ng-if="$index < 1 && movie.cache">
		<div class="title" tourtip="Click the title of any movie and we will fetch the highest quality torrent we can find. Movie titles are colored green, yellow, or red for quickly identifying their ratings based on critic and user review.">
			<a ng-class="movie | colorRating" ng-href="{{movie.cache.magnetLink}}" class="link" target="_blank">
				{{movie.title}}
			</a>
			<a ng-href="http://www.gotellthat.com/details/{{movie.id}}" class="details" target="_blank" tourtip="Selecting the info icon will bring up a window with a barage of info about the movie."></a>
		</div>
		<div class="poster" tourtip="Clicking on a movies poster lets you watch the trailer for that movie.">
			<a ng-href="{{movie.cache.trailerUrl}}" target="_blank">
				<img ng-src="{{movie | detailedUrl}}"></img>
			</a>
		</div>
	</div>

	<!-- Default Cached Version -->
	<div class="movie" ng-repeat="movie in $parent.movies" ng-if="$index > 0 && movie.cache">
		<div class="title">
			<a ng-class="movie | colorRating" ng-href="{{movie.cache.magnetLink}}" class="link" target="_blank">
				{{movie.title}}
			</a>
			<a ng-href="http://www.gotellthat.com/details/{{movie.id}}" class="details" target="_blank"></a>
		</div>
		<div class="poster">
			<a ng-href="{{movie.cache.trailerUrl}}" target="_blank">
				<img ng-src="{{movie | detailedUrl}}"></img>
			</a>
		</div>
	</div>

</div>